<h1 class= "team-title">Notre équipe au service de vos projets</h1>

<div class="team">
  <div class="card-member">
    <%= image_tag "ex-photo.jpg", alt:"photo d'un membre de l'équipe", class: "photo-member"%>
    <div class="member-text">
    <p>Prénom/Nom</p>
    </div>
  </div>

  <div class="card-member">
    <%= image_tag "ex-photo.jpg", alt:"photo d'un membre de l'équipe", class: "photo-member"%>
    <div class="member-text">
    <p>Prénom/Nom</p>
    </div>
  </div>

  <div class="card-member">
    <%= image_tag "ex-photo.jpg", alt:"photo d'un membre de l'équipe", class: "photo-member"%>
    <div class="member-text">
    <p>Prénom/Nom</p>
    </div>
  </div>

  <div class="card-member">
    <%= image_tag "ex-photo.jpg", alt:"photo d'un membre de l'équipe", class: "photo-member"%>
    <div class="member-text">
    <p>Prénom/Nom</p>
    </div>
  </div>
</div>

<div class="photo-presentation">
  <%= image_tag "camion.jpg", alt: "camion société", class: "camion" %>
  <%= image_tag "camion.jpg", alt: "camion société", class: "camion" %>
</div>

  <div class="linksyellow">
    <strong><%= link_to "Retour accueil", root_path, class:"btnyellow" %></strong>
  </div>
