<div class="home-container">
  <div class="main">
    <%= image_tag "wallpaper.jpg", class:"wallpaper", alt:"collage de photos" %>
    <div class="header">
      <h1 class="ml">ML Maçonnerie</h1>
      <h2>Neuf & Rénovations</h2>
    </div>
  </div>
  <div  class="subtitle">
    <p>Des services de qualité pour vos projets de maçonnerie neufs et de rénovation.</p>
  </div>
  <div class="linksyellow">
    <strong><%= link_to "Nos Compétences", competences_path, class:"btnyellow" %></strong>
    <strong><%= link_to "Nos Réalisations", realisations_path, class:"btnyellow" %></strong>
    <strong><%= link_to "Notre Equipe", equipes_path, class:"btnyellow" %></strong>
    <strong><%= link_to "Avis Clients", reviews_path, class:"btnyellow" %></strong>
  </div>
</div>
