  <div class="cards">
    <div class="card-project">
        <%= image_tag "facade.jpg", class:"project-img" %>
        <div class="texte">
          <h4><strong>Maçonnerie de pierre</strong></h4>
          <p>test<br>
          <strong class="strong">test</strong></p>
        </div>
    </div>

    <div class="card-project">
      <%= image_tag "pierre.jpg", class:"project-img" %>
      <div class="texte">
        <h4><strong>Ouverture de murs porteurs</strong></h4>
        <p>test<br>
        <strong class="strong">test</strong></p>
      </div>
    </div>

    <div class="card-project">
      <%= image_tag "reno.jpg", class:"project-img" %>
      <div class="texte">
        <h4><strong>Rejointement</strong></h4>
        <p>test<br>
        <strong class="strong">test</strong></p>
      </div>
    </div>

    <div class="card-project">
      <%= image_tag "facade.jpg", class:"project-img" %>
      <div class="texte">
        <h4><strong>Agrandissement</strong></h4>
        <p>test<br>
        <strong class="strong">test</strong></p>
      </div>
    </div>

    <div class="card-project">
      <%= image_tag "pierre.jpg", class:"project-img" %>
      <div class="texte">
        <h4><strong>Garage/Terrasse</strong></h4>
        <p>test<br>
        <strong class="strong">test</strong></p>
      </div>
    </div>

    <div class="card-project">
      <%= image_tag "reno.jpg", class:"project-img" %>
      <div class="texte">
        <h4><strong>Mur/Murets</strong></h4>
        <p>test<br>
        <strong class="strong">test</strong></p>
      </div>
    </div>
  </div>
