<div class="container">
  <div class="card-product-left">
    <%= image_tag "pierre.jpg", alt: "maçonnerie de pierre" %>
    <div class="card-product-infos">
      <h3>MACONNERIE DE PIERRE</h3>
      <p>Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.</p>
    </div>
  </div>
  <div class="card-product-right">
    <div class="card-product-infos">
      <h3>OUVERTURE DE MURS PORTEURS</h3>
      <p>Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.</p>
    </div>
    <a href="" data-toggle="popover" data-img="http://placehold.it/400x200" title="Popover Header" ></a>
    <%= image_tag "pierre.jpg", alt: "maçonnerie de pierre" %>
  </div>
  <div class="card-product-left">
    <%= image_tag "pierre.jpg", alt: "maçonnerie de pierre" %>
    <div class="card-product-infos">
      <h3>REJOINTOIEMENT</h3>
      <p>Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.</p>
    </div>
  </div>
  <div class="card-product-right">
    <div class="card-product-infos">
      <h3>AGRANDISSEMENT</h3>
      <p>Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.</p>
    </div>
    <%= image_tag "pierre.jpg", alt: "maçonnerie de pierre" %>
  </div>
  <div class="card-product-left">
    <%= image_tag "pierre.jpg", alt: "maçonnerie de pierre" %>
    <div class="card-product-infos">
      <h3>GARAGE/TERRASSE</h3>
      <p>Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.</p>
    </div>
  </div>
  <div class="card-product-right">
    <div class="card-product-infos">
      <h3>MUR/MURET</h3>
      <p>Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.Lorem ipsum dolor sit amet consectetur. Consectetur eget auctor maecenas felis tempus.</p>
    </div>
    <%= image_tag "pierre.jpg", alt: "maçonnerie de pierre" %>
  </div>
</div>
