<!DOCTYPE html>
<html>
  <head>
    <title>ML Maconnerie - Neuf & Rénovations</title>
    <meta name="description" content="Découvrez les compétences et réalisations de ML Maçonnerie, spécialisée en neuf et rénovations. Notre équipe est à votre disposition pour tous vos projets de construction." />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <div class="main-container">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
